<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://unpkg.com/vue@next"></script>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<title>Trello風タスク管理</title>
</head>
<body>
  <div id="app">
    <div id="trello-header" class="h-12 p-2">
      <h1 class="text-sm font-bold">Trello風タスク管理</h1>
    </div>
    <div id="trello-content" class="flex">
      <div
        v-for="(category, index) in displayCategories"
        :key="index"
        style="min-width:400px"
        >
        <div
          class="bg-gray-200 m-2 p-2 text-sm"
          draggable="true"
          @dragstart.self="dragCategory(category)"
          @dragover.prevent="dragOverCategory(category)"
          >
          <div class="font-bold">{{ category.name }}</div>
          <div
            v-for="(task, index) in category.tasks"
            :key="index"
            class="m-2 bg-white p-2"
            draggable="true"
            @dragstart="dragTask(task)"
            @dragover.prevent="dragOverTask(task)"
            >
            {{ task.name }}
          </div>
        </div>
      </div>
      <div style="min-width:400px">
        <div class="bg-gray-200 m-2 p-2 text-sm">
          <div
            @click="show_category_input=true"
            v-if="!show_category_input"
            >カテゴリーを追加</div>
            <div v-else>
              <input
                type="text"
                class="w-full p-2"
                placeholder="新しいカテゴリーを追加してください"
                v-model="category_name"
              >
              <div class="flex m-2">
                <button
                  class="px-4 py-2 bg-green-500 hover:bg-green-700 text-white rounded-lg mr-2 font-bold"
                  @click="categoryAdd">
                  追加
                </button>
                <button
                  class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white rounded-lg font-bold"
                  @click="closeCategoryInput">
                  キャンセル
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script>
const app = Vue.createApp ({
  data() {
    return {
      task: '', // drag中のtask情報を一時保存するためのデータプロパティ
      category: '', // drag中のcategory情報を一時保存するためのデータプロパティ
      type: '', // taskとcategoryの識別のためのデータプロパティ
      show_category_input: false, // カテゴリーの表示・非表示を制御するデータプロパティ
      category_name: '',
      categories: [
        {
          id: 1,
          name: 'テストA',
          collapsed: false,
        },
        {
          id: 2,
          name: 'テストB',
          collapsed: false,
        },
          {
          id: 3,
          name: 'テストC',
          collapsed: false,
        },
      ],
      tasks: [
        {
          id: 1,
          category_id: 1,
          name: 'テスト1',
          start_date: '2020-12-18',
          end_date: '2020-12-20',
          incharge_user: '鈴木',
          percentage: 100,
        },
        {
          id: 2,
          category_id: 1,
          name: 'テスト2',
          start_date: '2020-12-19',
          end_date: '2020-12-23',
          incharge_user: '佐藤',
          percentage: 90,
        },
        {
          id: 3,
          category_id: 3,
          name: 'テスト3',
          start_date: '2020-12-19',
          end_date: '2020-12-21',
          incharge_user: '鈴木',
          percentage: 40,
        },
        {
          id: 4,
          category_id: 2,
          name: 'テスト4',
          start_date: '2020-12-21',
          end_date: '2020-12-30',
          incharge_user: '山下',
          percentage: 60,
        },
        {
          id: 5,
          category_id: 2,
          name: 'テスト5',
          start_date: '2020-12-20',
          end_date: '2020-12-22',
          incharge_user: '佐藤',
          percentage: 5,
        },
        {
          id: 6,
          category_id: 1,
          name: 'テスト6',
          start_date: '2020-12-28',
          end_date: '2020-12-08',
          incharge_user: '佐藤',
          percentage: 0,
        },
      ],
    }
  },
  computed: {
    // categoryデータにtasksデータをネスト
    displayCategories() {
      let categories = []
      let tasks = ''
      this.categories.map(category => {
        tasks = this.tasks.filter(task => task.category_id === category.id);
        categories.push({
          id: category.id,
          name: category.name,
          tasks
        })
      })
      return categories;
    }
  },
  methods: {
    dragTask(task) {
      this.task = task // データプロパティのtaskにdragしているtaskの情報を入れる
      this.type = 'task'
    },
    dragCategory(category) {
      this.category = category // データプロパティのtaskにdragしているcategoryの情報を入れる
      this.type = 'category'
    },
    dragOverTask(overTask) {
      if (overTask.id !== this.task.id && this.type === 'task') { // dragしている要素が別の要素の上にいる場合
        let deleteIndex // 削除を行うIndex保存
        let addIndex // 追加を行うINdex保存
        this.tasks.map((task, index) => { if (task.id === this.task.id) deleteIndex = index })
        this.tasks.map((task, index) => { if (task.id === overTask.id) addIndex = index })
        this.tasks.splice(deleteIndex, 1)
        this.task.category_id = overTask.category_id // 別カテゴリーへの移動
        this.tasks.splice(addIndex, 0, this.task)
      }
    },
    dragOverCategory(overCategory) {
      if (overCategory.id !== this.category.id && this.type === 'category') { // dragしている要素が別の要素の上にいる場合
        let deleteIndex // 削除を行うIndex保存
        let addIndex // 追加を行うINdex保存
        this.categories.map((category, index) => { if (category.id === this.category.id) deleteIndex = index })
        this.categories.map((category, index) => { if (category.id === overCategory.id) addIndex = index })
        this.categories.splice(deleteIndex, 1)
        this.categories.splice(addIndex, 0, this.category)
      } else {
        if (this.task.category_id !== overCategory.id && this.type === 'task') { // 移動するタスクのcategory_idとdrag要素の下にあるカテゴリーのcategory_idが異なる場合
          let tasks = this.tasks.filter(task => task.category_id === overCategory.id)
          if (tasks.length === 0) this.task.category_id = overCategory.id
        }
      }
    },
    categoryAdd() {
      if (this.category_name != '') {
        this.categories.push({
          id: Date.now(),
          name: this.category_name
        }),
        this.category_name = ''
        this.show_category_input = false
      }
    },
    closeCategoryInput() {
      this.category_name = ''
      this.show_category_input = false
    }
  }
}).mount('#app')
</script>
